
.img-block{
	z-index: 999;
	position: relative; 
}
.img-block img{
	width: 100%;
}

.bg-wrapper {
	background: url(blue-bg.png);
	margin: 50px 0;
	position: relative; 
	z-index: 9999;
}

.birds{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 990;
}

